# Auto detect text files and perform LF normalization
* text=auto
patch/build
SCRIPT_FHD/SCRIPT_FHD_transed
trans.json
font/*.png
*.ttc
*.ttf
font/*.txt
patch/desktop-overlay-lyric-f2e45f0bc335c9bb30cd24640d0539d002b51833/.vs
patch/desktop-overlay-lyric-f2e45f0bc335c9bb30cd24640d0539d002b51833/app
patch/desktop-overlay-lyric-f2e45f0bc335c9bb30cd24640d0539d002b51833/lyric/x64
patch/tolongtexts.cpp
patch/erroruitext.cpp
patch/uitext.cpp
patch/othcg.cpp
