# Auto detect text files and perform LF normalization
* text=auto
patch/build
SCRIPT_FHD/SCRIPT_FHD_transed
trans.json
font/*.png
*.ttc
*.ttf
patch/desktop-overlay-lyric-f2e45f0bc335c9bb30cd24640d0539d002b51833/.vs
patch/desktop-overlay-lyric-f2e45f0bc335c9bb30cd24640d0539d002b51833/app
patch/desktop-overlay-lyric-f2e45f0bc335c9bb30cd24640d0539d002b51833/lyric/x64
patch/tolongtexts.cpp
patch/erroruitext.cpp
patch/uitext.cpp
patch/othcg.cpp
image/czximage/build
SCRIPT_FHD/text2
kouryaku/攻略.mhtml
font/newcharset1.txt
font/newcharset2.txt
font/newcharset4.txt
font/newinfo1.txt
font/newinfo2.txt
font/newinfo4.txt
font/remap_charset2.txt
patch/BGCG.cpp
font/newinfo3.txt
font/newcharset3.txt
patch/res/BGCG.DAT
patch/res/BGCG.IMG
patch/res/OTHCG.DAT
patch/res/OTHCG.IMG
